/* CSS HEADER */
@font-face {
  font-family: "graff";
  src: url("../fonts/PrizmaFine.otf");
}

@font-face {
  font-family: "graff2";
  src: url("../fonts/SivarPro.otf");
}

nav {
  height: 8em;
}

#nav-mobile {
  margin: 2em 5em 0 0;
}

#factorylogo {
  width: 20%;
  margin: auto;
}

#textuser {
  font-size: 1em;
}

#buttonStyle2 {
  border: solid white 1px;
  font-family: "Teko", sans-serif;
  font-size: 1.3em;
}

/* CSS PAGE ACCUEIL */

aside {
  background-color: black;
  width: 18%;
  min-height: 100vh;
}

#presentFactory {
  display: flex;
  flex-direction: row;
  background-color: white;
}

#graffiti {
  background-image: url("../images/graff1.jpg");
  background-size: cover;
  width: 74em;
  height: 40em;
}

.p1 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 7em;
}

.slogan {
  margin: -2em 0 0 5em;
}

.p2 {
  margin-top: -1.5em;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 7em;
}

.membre {
  margin: -8em 0 0 -12em;
}

.membre a {
  font-family: "Teko", sans-serif;
  margin: 1em 1em 0 1em;
  border: solid white 1px;
  font-size: 1.3em;
}

#buttonrow {
  margin-left: 5em;
}

#iconeuser i {
  margin-top: 8px;
}

#iconeuser {
  display: flex;
  flex-direction: row;
}

#iconeuser p {
  font-size: 1.1em;
  letter-spacing: 0.5em;
  margin: 1.5em 3em 0 0.5em;
}

#liens {
  margin: 7em 0 0 3em;
  width: 10%;
  display: flex;
  flex-direction: row;
}

#liens i {
  font-size: 1.5em;
  letter-spacing: 1em;
  color: white;
}

#textbio {
  color: white;
  font-size: 1em;
  padding: 1.5em 1.5em 1.5em 1.5em;
}

#music {
  text-align: left;
  color: white;
  margin-top: 2em;
}

#streets,
#slow {
  width: 65%;
  padding-left: 1.5em;
}

#music h6 {
  padding: 1.5em 1em 1.5em 1em;
}

#music h5 {
  font-size: 2em;
  font-family: "Archivo Black", sans-serif;
  padding-left: 0.8em;
}

#music p {
  padding: 1em 2em 0 2em;
  font-size: 0.9em;
}

.p3 {
  margin-top: -0.5em;
}

.typo {
  font-family: "graff";
}

article {
  display: flex;
  flex-direction: row;
}

#present {
  display: flex;
  flex-direction: column;
}

#biography {
  margin-top: 31.3em;
  border-top: solid 1px white;
}

/* CSS ARTICLE SHOP */

#shop {
  width: 35em;
  text-align: center;
  padding-top: 1em;
  border-right: solid 1px black;
}

#logoflame {
  width: 10em;
  margin-top: -2em;
}

#shop h5 {
  font-size: 1.4em;
  font-family: "graff";
}

#shop h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-top: -0.2em;
}

#textFlame {
  padding: 0 2em 0.5em 2em;
  margin-top: -0.2em;
  font-size: 1em;
}

#shop a,
#art a,
.expo a {
  font-family: "Teko", sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.bold {
  font-family: "Teko", sans-serif;
  font-weight: 800;
  font-size: 2em;
  letter-spacing: -0.6px;
}

.weight {
  font-weight: bold;
}

#spraypaint {
  width: 15em;
  margin-top: -2em;
}

/* CSS ARTICLE SPOTS */

#art {
  width: 35em;
  text-align: left;
}

#boatgraff {
  width: 39em;
}

#art h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5em;
  color: black;
  padding-left: 1em;
  margin-top: -0.1em;
}

#art h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-decoration: underline;
  padding: 1em 0 0 2em;
}

#art p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0.5em 0 1em 0;
  padding-left: 1.5em;
}

.p4 {
  font-family: "Courier Prime", monospace;
  font-size: 0.8em;
  margin-top: -0.1em;
  margin: 1em 1em 0 1.5em;
}

#art a {
  margin-left: 1em;
}

/* CSS ARTIST CORNER */

.artist {
  width: 100%;
  background-image: url(../images/expo.jpg);
  margin-bottom: 2em;
  height: 15em;
}

#corner {
  float: right;
  padding-right: 3em;
}

.expo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#prod1,
#prod2,
#prod3,
#prod4 {
  width: 15em;
}

.prod1,
.prod2,
.prod3,
.prod4 {
  text-align: center;
  box-shadow: 0 4px 6px 0 grey;
  margin-bottom: 5em;
}

.prod1 p,
.prod2 p,
.prod3 p,
.prod4 p {
  margin-top: -0.5em;
}

/*CSS FOOTER */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#liens2 {
  margin: 1em 0 0 0;
  width: 10%;
  display: flex;
  flex-direction: row;
}

#liens2 i {
  font-size: 1.5em;
  letter-spacing: 1em;
  color: rgb(34, 34, 34);
}

footer a {
  font-family: "Teko", sans-serif;
  font-size: 1.5em;
}

footer ul {
  margin-top: 3em;
}

/* CSS INSCRIPTION */

#joinus {
  width: 40%;
  min-height: 100vh;
  background-image: url(../images/csm.jpg);
  background-size: cover;
  background-position: center;
}

.big {
  color: black;
  font-family: "Archivo Black", sans-serif;
  font-size: 2.5em;
  line-height: 1em;
  margin: 3em 0 0 2em;
}

.textJoin {
  margin: 1em 8em 0 5em;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

#formJoin {
  width: 40%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#titleJoin {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5em;
  margin: 4em 0 0 2em;
}

.already {
  margin: -0.1em 0 0 3em;
}

#ins {
  margin: 4em 3em 0 3em;
}

#buttonStyle {
  border: solid black 1px;
  font-family: "Teko", sans-serif;
  font-size: 1.7em;
  padding-left: -1em;
  margin: 1em 0 0 1em;
}

#logJoin {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

/* CSS CONNEXION */

#joinus2 {
  width: 40%;
  min-height: 100vh;
  background-image: url(../images/csm2.jpg);
  background-position: left;
}

#titleJoin2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5em;
  margin: 6em 0 0 2em;
}

/* CSS PROFIL */

#buttonFile {
  border: solid black 1px;
  font-family: "Teko", sans-serif;
  font-size: 1.5em;
}

#titleJoin3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5em;
  margin: 2em 0 0 2em;
}

#joinus3 {
  width: 40%;
  min-height: 100vh;
  background-image: url(../images/csm3.jpg);
  background-position: center;
}

.graffUser {
  font-size: 1.4em;
  font-family: "graff2";
}

.big2 {
  color: black;
  font-family: "Archivo Black", sans-serif;
  font-size: 2.5em;
  line-height: 1em;
  margin: 3.5em 0 0 0.7em;
}

.textJoin2 {
  margin: 0 8em 0 2em;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

.big3 {
  color: black;
  font-family: "Archivo Black", sans-serif;
  font-size: 2.5em;
  line-height: 1em;
  margin: 7em 0 0 1em;
}

.textJoin3 {
  margin: 0 8em 0 2.5em;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

#avat {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 1em;
}

/* CSS DISCUSSION */

#formJoin2 {
  width: 65%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#titleJoin4 {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5em;
  margin: 2em 0 0 2em;
}

#buttonStyle4 {
  border: solid black 1px;
  font-family: "Teko", sans-serif;
  font-size: 1.7em;
  padding-left: -1em;
  margin: -1em 0 0 0;
}

#joinus4 {
  width: 35%;
  min-height: 100vh;
  background-image: url(../images/cms4.jpg);
  background-size: cover;
  background-position: left;
}

.big4 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 2.5em;
  line-height: 1em;
  margin: 4em 0 0 1em;
}

.textJoin4 {
  margin: 0 8em 0 2.5em;
  font-size: 1em;
  color: white;
  font-weight: bold;
}

#userView {
  font-size: 1em;
  padding: 1em 0.5em 0 0;
  font-family: "Archivo Black", sans-serif;
}

#avat2 {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.weight2 {
  font-weight: bold;
  padding: 1em 0 0 0.5em;
}

.afficheColumn {
  margin: 2em 0 0 2em;
}

.message {
  box-shadow: 0 4px 6px 0 grey;
  max-width: 93%;
  min-height: 5vh;
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(166, 226, 226);
  color: black;
}
